

.carousel-inner img{
    width: 100%;
    
}


#description {
    margin-top: 50px;
    background: linear-gradient(to right bottom, #f0c27b, #4b1248);
    padding-top: 30px;
    padding-bottom: 30px;
    transition: 0.4s;
}

.carousel-inner {
width: 100%;
}
.card{
    height: 180px;
    margin-top: 20px;
    
}
.card i {
    font-size: 23px;
    margin-top:30px;
}
.card span {
    font-size: 23px;
    font-weight: 500;
    margin-top: 18px;
    
}
#consoles{
    padding: 20px;
}
#goToContiner{
    background:linear-gradient(to right, #12c2e9, #c471ed, #f64f59); 
    height: 600px; 
    position: relative;
}
#goTo{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 100%
}
#picker{
    background: #242424
}

#picker button{
    color: greenyellow;
    width: 100%;
    margin: 5px 0px
    /*margin: 2px 20px*/
    
}


/*
#loginBtn::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#12E800;
    opacity: 0.3;
    filter: blur(2px)

}
*/
/*
#loginBtn:hover{
    transform: scale(1.1);
    border-bottom: white solid 1.5px 
}
*/
@media(max-width : 766px){
    #description{
        padding-bottom: 0px;
        background: linear-gradient(to left top, #ff4e50, #f9d423);
    }
    .text-description{
        margin-left: 6px ;
    }
}
