#backHomeButton{
  z-index: 1;
  position: fixed;
  top :20px;
  left: 20px;
  padding: 0px;
  border-radius: 30px;

}
#backHomeButton i{
  font-size: 60px;
}

#fimg{border: none;}
.hcrad{
  position: relative;
  width: 100%;
}
.middleCrad .card{
  margin: 30px 0px;

}
.middleCrad{
  padding: 20px;
}

.card-img-overlay{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: 500px;
  height: 200px;
  text-align: center;
  width: 700px;
  
}
#fhead{font-weight: bold;color: #F09202;font-size: 70px; }

@media only screen and (min-width: 961px) {
  #fp {
   text-align: center;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #fp{
   text-align: center;
    
  }
}

@media only screen and (min-width: 961px) {
  #fimg {
   height: 700px;
  }
}

@media only screen and (max-width: 400px) {
  #fimg {
    height: 300px;
  }
}

#Scard {
   background-color:#232527;
}
#Sh5{color: white}
#Sp{color: white}
#Ssmall{margin-left: 50px;}
@media only screen and (min-width: 961px) {
  #Sh5 {
   text-align: center; margin-top: 100px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #Sh5 {
    text-align: center;
    
  }
}
@media only screen and (min-width: 961px) {
  #Sp {
   text-align: center;margin-left: 50px ;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #Sp {
    text-align: center;
    
  }
}
@media only screen and (min-width: 961px) {
  #Simg {
   height: 400px; width: 500px;
  }
}
@media only screen and (max-width: 400px) {
  #Simg {
    width: 357px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 960px) {
  #Simg {
    width: 280px;height: 260px;
    
  }
}
@media(max-width:730px){
  #fhead{
    font-size: 50px;
  }
  #fp{
    font-size: 17px;
  }
}
@media(max-width:514px){
  #fhead{
    font-size: 23px;
  }
  #fp{
    font-size: 7px;
  }
 #fimg{
   
   height: 180px;
 }
 .card-img-overlay{

   height: 70px;
 }
}




#sticky-footer {
  flex-shrink: none;
}